/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/**
 * Layout
 */
body {
    font-family: 'Inter', sans-serif;
    min-width: 350px;
    zoom: 100%;
}
html,
body,
#root,
#wrapper {
    height: 100%;
    font-size: 100%;
    background-color: #111;
}
#wrapper {
    color: #fff;
}
#content {
    height: calc(100% - 154px);
    overflow: hidden;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
}
::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 0px;
    -webkit-box-shadow: inset 0px 0px 0px 0px #f0f0f0;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/**
 * Fonts, Headings
 */
a:link {
    color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}
.header {
    font-weight: 900;
    margin-bottom: 20px;
}
.primary-color {
    color: #36d7b7;
}

/**
 * Radio button
 */
input[type='radio'] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.form-check label {
    padding-left: 4px;
    font-size: 1.1rem;
}

/**
 * Menu
 */
#navbar {
    top: 0;
    width: 100%;
    padding: 4px 0;
    z-index: 5;
}
#nav-toggle {
    font-size: 0.9rem;
}
#navbar .navbar-nav {
    padding-left: 10px;
}

#navbar a {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#navbar a {
    opacity: 0.6;
    margin-bottom: 10px;
}
#navbar a:hover {
    opacity: 1;
}
#navbar .brand {
    padding-top: 10px;
    padding-left: 10px;
}
#navbar .brand-icon {
    margin-left: 3px;
    padding: 3px;
    margin-top: 8px;
    margin-bottom: -3px;
    width: 32px;
}
#navbar ul.navbar-nav {
    padding-top: 15px;
}
#navbar li.nav-item {
    font-size: 0.9rem;
}
.navbar-toggler {
    border: 0;
}
.brand {
    color: #eee;
}

/**
 * Sidebar
 */
#sidebar {
    display: none;
    position: relative;
    padding-top: 15px;
    background-color: transparent;
    width: 120px;
    min-width: 120px;
    z-index: 2;
}
#sidebar .brand {
    font-size: 1.3rem;
    font-weight: 900;
    padding: 16px;
}
#sidebar ul {
    font-size: 0.9rem;
}
#sidebar li {
    padding: 0 0 0 12px;
    margin-bottom: 8px;
}
#sidebar a {
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#sidebar a {
    opacity: 0.5;
}
#sidebar a:hover {
    opacity: 1;
}

/**
 * Content
 */
#main {
    z-index: 4;
    width: 100%;
    overflow-y: auto;
}

/**
 * Main view
 */
#view {
    height: 100%;
    padding: 20px 6px;
}
#view input {
    color: #bbb;
    border: 0;
    background-color: transparent !important;
    border-bottom: 1px solid #555;
}
#view button,
#music-search .btn {
    background-color: transparent !important;
    border: 0;
}

/**
 * Utilities
 */
.full-opacity {
    opacity: 1 !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    appearance: none;
    -webkit-appearance: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
@-webkit-keyframes colorChange {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
@keyframes colorChange {
    from {
        -webkit-filter: hue-rotate(0deg);
        filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

/**
  * Music search
  */
#music-search {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
#music-search button {
    border: 1px solid #fff;
    padding: 0 8px;
    margin: 0;
}

/**
 * Now Playing
 */
#now-playing img {
    height: 280px;
    width: 280px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 40px;
}

#now-playing #player-controls {
    position: absolute;
    bottom: 50px;
}
#now-playing #player-controls .btn {
    width: 60px;
}

#now-playing #track-info #title {
    font-size: 1.3rem;
    font-weight: 800;
    opacity: 0.9;
    color: #fbfbfb;
}
#now-playing #track-info #artist {
    font-size: 0.9rem;
    opacity: 0.6;
}
#now-playing svg {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/**
 * Track Row
 */
.track-row {
    margin-bottom: 6px;
    -webkit-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
    width: 100%;
}
.track-row:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.track-row .cover {
    height: 40px;
    width: 40px;
}
.track-row #title {
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 90%;
    color: #ddd;
}
.track-row #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
    max-width: 90%;
}
.track-row #playtime {
    font-size: 0.65rem;
    padding-right: 4px;
}
.track-row .play-button {
    font-size: 0.9rem;
    background: none;
    border: 0;
}

.track-row .play-button svg {
    opacity: 0.4;
    stroke-width: 3px;
}

.track-row .play-button.active svg,
#play-pause-btn.active,
#now-playing-play.active {
    color: limegreen;
    -webkit-animation: colorChange 30s alternate infinite;
    animation: colorChange 30s alternate infinite;
    opacity: 1;
}

.actions {
    margin: 10px 0;
}

/**
 * Player
 */
#player {
    background-color: #111;
    z-index: 3;
    width: 100%;
    height: 90px;
    border-top: 1px solid #222;
}
.cover {
    border-radius: 5px;
}
#player .cover {
    margin-left: 10px;
    height: 70px;
    width: 70px;
}
#player .track-title {
    width: 99%;
    width: 150px;
    max-width: 150px;
}
#player #title {
    color: #ddd;
    font-weight: bold;
    font-size: 0.8rem;
}
#player #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
}
#player #left-track-title {
    max-width: 300px;
    display: none;
}
#player #right-volume {
    display: none;
    width: 200px;
    padding-right: 10px;
}
#player-controls button {
    margin: 0;
    background: none;
    border: none;
    opacity: 0.4;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    color: #fbfbfb;
}
#player-controls .btn {
    width: 45px;
}
#player-controls #shuffle.active,
#player-controls #repeat.active {
    color: limegreen;
    opacity: 1;
}
#play-pause-btn {
}
#player-controls #shuffle.inactive,
#player-controls #repeat.inactive {
    opacity: 0.2;
}
#player-controls button.disabled {
    opacity: 0.2;
}

#player-controls #skip-forward.active,
#player-controls #skip-backwards.active,
#now-playing #player-controls #now-playing-next.active,
#now-playing #player-controls #now-playing-prev.active {
    color: limegreen;
    opacity: 1;
}

.lime-green {
    color: limegreen !important;
}

#backdrop::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.gradient-blue {
    background: #8e2de2; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #4a00e0,
        #8e2de2
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-fire {
    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #f5af19,
        #f12711
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #f5af19,
        #f12711
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-rasta {
    background: #1e9600; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ff0000,
        #fff200,
        #1e9600
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #ff0000,
        #fff200,
        #1e9600
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.library-playlist-cont {
    width: 330px;
    padding: 20px;
    margin: 8px;
}
#liked-songs-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/**
 * Backdrop
 */
#backdrop {
    height: calc(100% - 137px);
    width: 100%;
    top: 50px;
    left: 0;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: 0;
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

/**
 * Progress bars
 */
.progress {
    cursor: pointer;
}
#volume-progress {
    background-color: #222;
}
#volume-progress {
    cursor: pointer;
    height: 10px;
}

#player-progress {
    /* cursor: pointer; */
    height: 8px;
    background-color: #222;
    border-radius: 0;
    width: 100% !important;
}

#player-progressbar {
    background-color: limegreen;
}

#progress-cont {
    position: relative;
    bottom: 0;
    width: 100% !important;
}

#player #progress-cont small {
    color: #999;
    font-size: 0.7em;
}

#loaded-progressbar {
    background-color: #333;
}

@media (min-width: 576px) {
    #content,
    #backdrop {
        height: calc(100% - 98px);
    }
    #backdrop {
        top: 0;
    }
    #navbar {
        display: none;
    }
    #sidebar {
        display: block;
    }
    #view {
        padding-top: 25px;
    }
    #player .cover {
        margin-left: 10px;
        height: 70px;
        width: 70px;
    }
    #player .track-title {
        max-width: 150px;
        width: 150px;
    }
    #player-controls .btn {
        width: 60px;
    }
}

@media (min-width: 768px) {
    #player #right-volume {
        display: block;
    }
    #player #left-track-title {
        display: block;
    }
    body {
        zoom: 110%;
    }
}
