/**
 * Layout
 */
body {
    font-family: 'Inter', sans-serif;
    min-width: 350px;
}
html,
body,
#root,
#wrapper {
    height: 100%;
    font-size: 100%;
    background-color: #111;
}
#wrapper {
    color: #fff;
}
#content {
    height: calc(100% - 148px);
    overflow: hidden;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
}
::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/**
 * Fonts, Headings
 */
a:link {
    color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}
.header {
    font-weight: 900;
    margin-bottom: 20px;
}
.primary-color {
    color: #36d7b7;
}

/**
 * Menu
 */
#navbar {
    z-index: 3;
    background-color: #111 !important;
}
#navbar a {
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#navbar a {
    opacity: 0.6;
    margin-bottom: 10px;
}
#navbar a:hover {
    opacity: 1;
}
.navbar-toggler {
    border: 0;
}
.brand {
    color: #eee;
}

/**
 * Menu
 */
#menu {
    z-index: 999;
    width: 100%;
    height: 31px;
    position: sticky;
    top: -1px;
    background-color: rgba(0,0,0,0.8);
    padding: 0;
}
#menu input {
    color: #bbb;
    border: 0;
    background-color: transparent !important;
}
#menu button {
    background-color: transparent !important;
    border: 0;
}

/**
 * Sidebar
 */
#sidebar {
    display: none;
    position: relative;
    padding-top: 15px;
    background-color: rgba(0,0,0,0.3);
    width: 120px;
    min-width: 120px;
    z-index: 2;
}
#sidebar .brand {
    font-size: 1.3rem;
    font-weight: 900;
    padding: 16px;
}
#sidebar ul {
    font-size: 0.9rem;
}
#sidebar li {
    padding: 0 0 0 12px;
    margin-bottom: 8px;
}
#sidebar a {
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#sidebar a {
    opacity: 0.5;
}
#sidebar a:hover {
    opacity: 1;
}

/**
 * Content
 */
#main {
    z-index: 3;
    width: 100%;
    overflow-y: auto;
}
#view {
    padding: 10px 6px;
}

/**
 * Utilities
 */
.full-opacity {
    opacity: 1 !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
  * Music search
  */
#music-search {
    display: inline-flex;
}
#music-search button {
    border: 1px solid #fff;
    padding: 0 8px;
    margin: 0;
}

/**
 * Track Row
 */
.track-row {
    margin-bottom: 6px;
    transition: background-color 0.2s;
    width: 100%;
}
.track-row:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.track-row .cover {
    height: 40px;
    width: 40px;
}
.track-row #title {
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 90%;
    color: #ddd;
}
.track-row #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
    max-width: 90%;
}
.track-row #playtime {
    font-size: 0.65rem;
    padding-right: 4px;
}
.track-row .play-button {
    font-size: 0.9rem;
    background: none;
    border: 0;
    margin-right: 5px;
}

.track-row .play-button svg {
    opacity: 0.4;
    stroke-width: 3px;
}

.track-row .play-button.active svg {
    color: limegreen;
    animation-name: activerow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes activerow {
    0% {
        color: limegreen;
        opacity: 1;
    }
    50% {
        color: limegreen;
        opacity: 0.4;
    }
    100% {
        color: limegreen;
        opacity: 1;
    }
}

/**
 * Library
 */
.actions button {
    margin: 3px;
}

/**
 * Player
 */
#player {
    z-index: 3;
    background-color: #111;
    width: 100%;
    height: 90px;
    border-top: 1px solid #333;
}
.cover {
    border-radius: 5px;
}
#player .cover {
    margin-left: 10px;
    height: 60px;
    width: 60px;
}
#player .track-title {
    width: 99%;
    width: 150px;
    max-width: 150px;
}
#player #title {
    color: #ddd;
    font-weight: bold;
    font-size: 0.8rem;
}
#player #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
}
#player #left-cover {
}
#player #left-track-title {
    max-width: 300px;
}
#player #center-controls {
}
#player #right-volume {
    display: none;
    width: 200px;
    padding-right: 10px;
}
#player-controls button {
    margin: 0;
    background: none;
    border: none;
    opacity: 0.4;
    transition: opacity 0.5s;
}
#player-controls button.disabled {
    opacity: 0.2;
}
#player-controls button:hover {
    opacity: 1;
}
#player-volume .progress-bar {
    background-color: limegreen !important;
}
#volume-progress {
    cursor: pointer;
    height: 10px;
}

.lime-green {
    color: limegreen !important;
}

#backdrop::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

 #backdrop {
    height: calc(100% - 148px);
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0.15;
    z-index: 0;
    filter: blur(25x);
    -webkit-filter: blur(25px);
 }

/**
 * Progress bars
 */
.progress {
    max-width: 200px;
    background-color: #222;
}

@media (min-width: 576px) {
    #content, #backdrop {
        height: calc(100% - 90px);
    }
    #navbar {
        display: none;
    }
    #sidebar {
        display: block;
    }
    #menu {
        background-color: rgba(0,0,0,0.3);
        padding: 0;
    }
    #player .cover {
        margin-left: 10px;
        height: 70px;
        width: 70px;
    }
    #player #right-volume {
        display: block;
    }
    #player .track-title {
        max-width: 150px;
        width: 150px;
    }
}
