/**
 * Layout
 */
body {
    font-family: 'Inter', sans-serif;
    min-width: 350px;
}
html,
body,
#root,
#wrapper {
    height: 100%;
    font-size: 100%;
    background-color: #111;
}
#wrapper {
    color: #fff;
}
#content {
    height: calc(100% - 146px);
    overflow: hidden;
}

/**
 * Scrollbar
 */
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}
::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
}
::-webkit-scrollbar-track {
    background: #222222;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

/**
 * Fonts, Headings
 */
a:link {
    color: #fff;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
}
.header {
    font-weight: 900;
    margin-bottom: 20px;
}
.primary-color {
    color: #36d7b7;
}

/**
 * Menu
 */
#navbar {
    background-color: #111 !important;
}
#navbar a {
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#navbar a {
    opacity: 0.6;
}
#navbar a:hover {
    opacity: 1;
}
.navbar-toggler {
    border: 0;
}

/**
 * Menu
 */
#menu {
    z-index: 999;
    width: 100%;
    height: 34px;
    position: sticky;
    top: 0;
    background-color: #111;
    padding: 0 8px;
}
#navigation-buttons button {
    background: none;
    border-radius: 12px;
    border: 0;
    margin: 0 4px;
    padding: 5px;
}
#navigation-buttons img {
    height: 14px;
}

/**
 * Sidebar
 */
#sidebar {
    display: none;
    position: relative;
    padding-top: 15px;
    background-color: #000;
    width: 120px;
    min-width: 120px;
}
#sidebar .brand {
    font-size: 1.3rem;
    font-weight: 900;
    padding: 10px;
}
#sidebar ul {
    font-size: 0.9rem;
    padding: 0 0 0 10px;
}
#sidebar li {
    margin-bottom: 6px;
}
#sidebar a {
    transition: opacity 0.5s;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}
#sidebar a {
    opacity: 0.5;
}
#sidebar a:hover {
    opacity: 1;
}

/**
 * Content
 */
#main {
    width: 100%;
    overflow-y: auto;
}
#view {
    padding: 10px 10px;
}

/**
 * Utilities
 */
.full-opacity {
    opacity: 1 !important;
}
textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/**
  * Music search
  */
#music-search {
    display: inline-flex;
}
#music-search button {
    border: 1px solid #fff;
    padding: 0 8px;
    margin: 0;
}

/**
 * Track Row
 */
.track-row {
    margin-bottom: 4px;
    transition: background-color 0.2s;
    width: 100%;
}
.track-row:hover {
    background-color: #222;
}
.track-row .cover {
    border-radius: 5px;
    height: 40px;
}
.track-row #title {
    font-weight: bold;
    font-size: 0.8rem;
    max-width: 90%;
}
.track-row #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
    max-width: 90%;
}
.track-row #playtime {
    font-size: 0.65rem;
}
.track-row .play-button {
    font-size: 0.9rem;
    background: none;
    border: 0;
}

.track-row .play-button svg {
    opacity: 0.4;
    stroke-width: 3px;
}

.track-row .play-button.active svg {
    font-weight: bold;
    color: limegreen;
    fill: #444;
    animation-name: activerow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes activerow {
    0% {
        color: limegreen;
        opacity: 1;
    }
    50% {
        color: inherit;
        opacity: 0.4;
    }
    100% {
        color: limegreen;
        opacity: 1;
    }
}

/**
 * Library
 */
.actions button {
    margin: 0 4px;
}

/**
 * Player
 */
#player {
    background-color: #111;
    width: 100%;
    height: 90px;
    border-top: 1px solid #333;
}
#player .cover {
    margin-left: 10px;
    border-radius: 5px;
    height: 60px;
}
#player .track-title {
    max-width: 90px;
    width: 90px;
}
#player #title {
    font-weight: bold;
    font-size: 0.8rem;
}
#player #artist {
    font-size: 0.7rem;
    color: #ccc;
    opacity: 0.7;
}
#player #left {
}
#player #center {
}
#player #right {
    display: none;
}
#player-controls button {
    margin: 0;
    background: none;
    border: none;
    opacity: 0.4;
    transition: opacity 0.5s;
}
#player-controls button:hover {
    opacity: 1;
}
#player-volume .progress-bar {
    background-color: limegreen !important;
}
#volume-progress {
    cursor: pointer;
    height: 10px;
}

.lime-green {
    color: limegreen !important;
}

/**
 * Progress bars
 */
.progress {
    max-width: 200px;
    background-color: #222;
}

@media (min-width: 576px) {
    #content {
        height: calc(100% - 90px);
    }
    #navbar {
        display: none;
    }
    #sidebar {
        display: block;
    }
    #menu {
        padding: 0;
    }
    #player #right {
        display: block;
    }
    #player .track-title {
        max-width: 150px;
        width: 150px;
    }
}
